*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin: auto;
}
/***************************
header section css
***************************/
header{
	width: 100%;
}
.nav-bar{
	width: 100%;
	float: left;
	display: flow-root;
	padding-top: 40px;
}
.nav-bar .logo{
	width: 30%;
	float: left;
	color: #000000;
}
.nav-bar .menu{
	width: 70%;
	float: right;
	text-align: center;
}
.nav-bar .menu ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 85px;
}
.nav-bar .menu ul li a{
	font-family: 'Playfair Display', serif;
	color: #626262;
	font-weight: 400;
}
/*****************************
main post section css file
*****************************/
.main-post{
	width: 100%;
	display: flow-root;
}
.details{
    padding: 107px;
}
.details h4{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #bdb7aa;
	margin: 30px 0px;
}
.details h1{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #9c9c9c;
	margin-bottom: 30px;
}
.details p{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #a1a1a1;
}
/**************************
all post section css file
*****************************/
.posts{
	width: 100%;
	display: flow-root;
}
.gallery{
	width: 100%;
	float: left;
	padding-bottom: 50px;
}
.gallery .left{
	width: 40%;
    float: left;
    padding-left: 106px;
}
}
.gallery .right{
	width: 50%;
	float: right;
}
.newsletter{
	width: 100%;
	text-align: center;
	background-color: #f0f0f0;
}
.newsletter .subscribe{
	padding: 80px 0px;
}
.newsletter .subscribe h1{
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400;
	color: #919191;
	padding: 30px 0px;
}
.newsletter .subscribe form input{
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400;
	color: #9b9b9b;
	padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 260px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
}
.newsletter .subscribe input:focus{
	border-bottom-color: tomato;
	outline: none;
}
/******************
button section css file
***********************/
.btn{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.btn form input{
	font-family: 'Playfair Display', sans-serif;
	font-weight: 400;
	color: #626262;
	padding: 15px 30px;
}
/*footer part css file*/
.footer{
	width: 100%;
	display: flow-root;
	background: #f0f0f0;
	padding: 40px 0px;
}
.footer .footer-menu{
	width: 100%;
	float: left;
}
.footer .footer-menu .left{
	width: 30%;
	float: left;
	text-align: center;
	padding-top: 15px;
}
.footer .footer-menu .right{
	width: 70%;
	float: right;
	text-align: center;
}
.footer .footer-menu ul li{
	list-style-type: none;
	display: inline-block;
}
.footer .footer-menu .left li{
	padding-left: 20px;
}
.footer .footer-menu .right li{
	padding-right: 30px;
}
.footer-menu .right li a i{
	background-color: gray;
	color: white;
	transform: scale(1.4);
	padding: 10px;
	border: 2px solid black;
	border-radius: 100%;
	transition: 0.5s ease-in-out;
}
.footer-menu .right li a i:hover{
	color: tomato;
	padding: 20px;
	transition: 0.5s ease-in-out;
	transform: rotate(180deg);
}